@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

:root {
    --main-color: white;
    --accent-color: #261e1c;
    --orange-color: #c8693a;
    --black-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}


main {
    display: block;
    width: 100%;
}


a {
    color: var(--main-color);
    font-family: verdana;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poiret One';
}

a:hover {
    color: red;
    text-decoration: none;
    font-family: 'Poiret One';
    
}
 
.info-block {   
    display: block;
    width: 100%;
    padding: 0;
    background-image: url(../img/backgrounw.jpg); 
    background-size: cover;
    
}

.info {
    margin: 100px;
}

.info-block h3 {
    font-family: 'Prata';
    font-size: 40px;
    color: var(--main-color);
}

.info-block h2 {
    font-family: 'Seaweed Script';
    font-size: 20px;
    color: var(--orange-color);
}

.info-block p {
    font-family: 'Poiret One';
    color: var(--main-color);
}

.video {
    max-width: 400px;
    max-height: 500px;
    border-radius: 10%;
    box-shadow: 0 2px 4px 0 var(--accent-color);
    transition: 0.3s;
}

.video:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
}




@media (min-width: 440px) {
    .info-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

.card-list {   
    padding: 50px 30px 50px 30px;
}

.card-list .card-geo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction:column;
    background-image: url(/img/geohotsale.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    min-width: 350px;
    min-height: 220px;
}

.card-list .card-ita {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction:column;
    background-image: url(/img/itahotsale.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    min-width: 350px;
    min-height: 220px;
    
}

.card-list .card-geo:hover,
.card-list .card-ita:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
}



.card-list h3 {
    font-family: 'Prata';
    font-size: 20px;
    color: var(--main-color);
    text-shadow: 2px 2px 2px var(--black-color);
    padding: 1px;
    text-align: center;
}

.card-list p {
    font-family: 'Poiret One';
    font-size: 15px;
    color: var(--main-color);
    text-shadow: 2px 2px 2px var(--black-color);
    padding: 1px;
    text-align: center;
}

.card-but .button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 5px;
    
}




@media (min-width: 440px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}


.c-block .countdown {
    display: block;
    background-color: var(--orange-color);
    max-width: 100%;
    
    
}

.countdown p {
    padding: 20px;
    text-align: center;
}

.countdown h3 {
    padding: 20px;
    text-align: center;
}


.awards {
    background-color: var(--accent-color);
}

.toper-awards {
    text-align: center;
}

.award-list {
    display: block;
    margin: 70px;
    padding: 15px;
}

.ita-info, .geo-info,
.tcp-info {
    display: block;
    margin: 70px;
    padding: 15px;
}











/* Controls */

.button {
    padding: 0px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--orange-color);
    font-size: 10px;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}

