:root {
    --main-color: white;
    --accent-color : #261e1c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

main {
    background-image: url(../img/wineback.jpg); 
}



.wrapper-col p, h2, h3, h4 {
    font-family: Verdana;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    font-family: verdana;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
    
}
 


.info-block {   
    border: 3px solid white;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
}



@media (min-width: 440px) {
    .info-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}



.card-list h3, p {
    
}


.card-list .card {
    
    padding: 10px;
    box-shadow: 0 2px 4px 0 var(--main-color);
    transition: 0.3s;
    max-width: 300px;
    max-height: 300px;
}



.card-list .card:hover {
    box-shadow: 0 4px 8px 0 var(--main-color);
}

.card-list .card img {
    display: block;
    width: 100%;
}


@media (min-width: 440px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}



.awards {
    background-color: var(--accent-color);
}

.toper-awards {
    text-align: center;
}

.award-list {
    display: block;
    margin: 70px;
    padding: 15px;
}

.ita-info, .geo-info,
.tcp-info {
    display: block;
    margin: 70px;
    padding: 15px;
}


button:hover {
    color: blueviolet;
    background-color: orchid;
}

button {
    background-color: sandybrown;
}




